html {
    display: flex;
}
html, body {
    background-image: linear-gradient(rgb(128, 128, 128), rgb(58, 58, 58));
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    padding: 0%;
}
header {
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: row-reverse;
}
header a {
    text-decoration: none;
    color: white;
    padding: 1%;
}