@font-face {
    font-family: LavishlyYoursRegular;
    src: url(src/fonts/LavishlyYours-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: CalligraffittiRegular;
    src: url(src/fonts/Calligraffitti-Regular.ttf) format('truetype');
}

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

html {
    display: flex;
}
body {
    background-color: rgb(98, 98, 98);
    padding: 0%;
    size: 100%;
}

header {
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: row-reverse;
    font-family: LavishlyYoursRegular;
}

header a {
    text-decoration: none;
    color: white;
    padding: 1%;
}

body div {
    text-align: center;
    font-family: CalligraffittiRegular;
}