@font-face {
    font-family: TrainOne-Regular;
    src: url(src/fonts/TrainOne-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Rasa;
    src: url(src/fonts/Rasa-VariableFont_wght.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}
h1 {
    font-family: TrainOne-Regular;
    text-align: center;
}

* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

html {
    display: flex;
}
body {
    background-color: rgb(98, 98, 98);
    padding: 0%;
    size: 100%;
}

header {
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: row-reverse;
    font-family: LavishlyYoursRegular;
}

header a {
    text-decoration: none;
    color: white;
    padding: 1%;
}

.body-text {
    font-family: Rasa;
    text-align: center;
}