@font-face {
    font-family: TrainOne-Regular;
    src: url(src/fonts/TrainOne-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;
}
h1 {
    font-family: TrainOne-Regular;
    align-content: center;
}